<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiang.main">

    <application >
        <activity android:name=".UserInfoActivity" android:theme="@style/AppTheme"></activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"/>
    </application>

</manifest>