<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiang.main">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
<!--        <meta-data-->
<!--            android:name="com.google.android.actions"-->
<!--            android:resource="@xml/attrs" />-->

        <activity
            android:name=".act.RedEnvelopeActivity"
            android:theme="@style/AppThemeRed" />
        <activity
            android:name=".chat.ac.ChatActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".chat.ac.AttnInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />

        <service android:name="com.lib.xiangxiang.im.ImService" />
    </application>

</manifest>